html,
body {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
  border: 2px solid #7e7e7e;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}
